<ion-view title="Character Status" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="characterStatus-form3" class="list">
      <ion-item class="range range-positive" id="characterStatus-range1">Strenght (ST)
        <input type="range" value="50" min="0" max="100" step="1" name="strenght">
      </ion-item>
      <ion-item class="range range-positive" id="characterStatus-range2">Dexterity (DX)
        <input type="range" value="50" min="0" max="100" step="1" name="dexterity">
      </ion-item>
      <ion-item class="range range-positive" id="characterStatus-range3">Intelligence (IQ)
        <input type="range" value="50" min="0" max="100" step="1" name="intelligence">
      </ion-item>
      <ion-item class="range range-positive" id="characterStatus-range4">Health (HT)
        <input type="range" value="50" min="0" max="100" step="1" name="health">
      </ion-item>
      <div class="spacer" style="width: 300px; height: 40px;"></div>
      <ion-item class="range range-positive" id="characterStatus-range5">Life Points
        <input type="range" value="50" min="0" max="100" step="1" name="life_points">
      </ion-item>
      <ion-item class="range range-positive" id="characterStatus-range6">Will
        <input type="range" value="50" min="0" max="100" step="1" name="will">
      </ion-item>
      <ion-item class="range range-positive" id="characterStatus-range7">Perception
        <input type="range" value="50" min="0" max="100" step="1" name="perception">
      </ion-item>
      <ion-item class="range range-positive" id="characterStatus-range8">Effort Points
        <input type="range" value="50" min="0" max="100" step="1" name="effort_points">
      </ion-item>
      <ion-item class="range range-positive" id="characterStatus-range9">Speed
        <input type="range" value="50" min="0" max="100" step="1" name="speed">
      </ion-item>
      <ion-item class="range range-positive" id="characterStatus-range10">Movement
        <input type="range" value="50" min="0" max="100" step="1" name="movement">
      </ion-item>
      <a ui-sref="characterLanguages()" id="characterStatus-button6" class="button button-stable button-block">Proceed</a>
    </form>
  </ion-content>
</ion-view>