<ion-view title="Character Languages" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="characterLanguages-form4" class="list">
      <label class="item item-select" id="characterLanguages-select3" name="native_language">
        <span class="input-label">Native</span>
        <select></select>
      </label>
      <div id="characterLanguages-container6">
        <form id="characterLanguages-form5" class="list">
          <label class="item item-select" id="characterLanguages-select4">
            <span class="input-label">Language</span>
            <select></select>
          </label>
          <label class="item item-select" id="characterLanguages-select5">
            <span class="input-label">Level</span>
            <select></select>
          </label>
        </form>
      </div>
      <a ui-sref="characterSkills()" id="characterLanguages-button7" class="button button-stable button-block">Proceed</a>
    </form>
  </ion-content>
</ion-view>