<ion-view title="Character Disadvantages" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="characterDisadvantages-form9" class="list">
      <ion-item class="item-avatar" id="characterDisadvantages-list-item30">
        <h2>Item</h2>
        <p>asd</p>
        <ion-option-button class="button-light">Active</ion-option-button>
        <ion-option-button class="button-assertive">-</ion-option-button>
        <ion-option-button class="button-positive">#Level</ion-option-button>
        <ion-option-button class="button-balanced">+</ion-option-button>
      </ion-item>
      <a ui-sref="characterResume()" id="characterDisadvantages-button11" class="button button-stable button-block">Proceed</a>
    </form>
  </ion-content>
</ion-view>