<ion-view title="Character Inventory" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="characterInventory-form10" class="list">
      <ion-list id="characterInventory-list21">
        <label class="item item-input" id="characterInventory-input24">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="characterInventory-input25">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="characterInventory-input26">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="characterInventory-button12" class="button button-stable button-block">Proceed</button>
    </form>
  </ion-content>
</ion-view>