<ion-view title="Character Features" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="characterFeatures-form2" class="list">
      <ion-list id="characterFeatures-list14">
        <label class="item item-input" id="characterFeatures-input3" name="name">
          <span class="input-label">*Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="characterFeatures-input4" name="age">
          <span class="input-label">Age</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="characterFeatures-input5" name="height">
          <span class="input-label">Heigth</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="characterFeatures-input6" name="weight">
          <span class="input-label">Weight</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="characterFeatures-input7" name="min_status">
          <span class="input-label">*Minimun status points</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="characterFeatures-input8" name="max_points">
          <span class="input-label">*Max points</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="characterFeatures-input9" name="initial_resource">
          <span class="input-label">*Inicial resource</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="characterFeatures-input10" name="initial_resource">
          <span class="input-label">Description</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="characterStatus()" id="characterFeatures-button5" class="button button-stable button-block">Proceed</a>
    </form>
  </ion-content>
</ion-view>