<ion-view title="Equipments" id="page21">
  <ion-content padding="true" class="has-header">
    <h1 id="equipments-heading8" style="color:#000000;">Current Equipment</h1>
    <ion-list id="equipments-list37">
      <ion-item id="equipments-list-item103">Left Hand
        <ion-option-button class="button-balanced">Change</ion-option-button>
        <ion-option-button class="button-assertive">Drop</ion-option-button>
      </ion-item>
      <ion-item id="equipments-list-item86">Right Hand
        <ion-option-button class="button-balanced">Change</ion-option-button>
        <ion-option-button class="button-assertive">Drop</ion-option-button>
      </ion-item>
      <ion-item id="equipments-list-item87">Head
        <ion-option-button class="button-balanced">Change</ion-option-button>
        <ion-option-button class="button-assertive">Drop</ion-option-button>
      </ion-item>
      <ion-item id="equipments-list-item88">Torax
        <ion-option-button class="button-balanced">Change</ion-option-button>
        <ion-option-button class="button-assertive">Drop</ion-option-button>
      </ion-item>
      <ion-item id="equipments-list-item89">Legs
        <ion-option-button class="button-balanced">Change</ion-option-button>
        <ion-option-button class="button-assertive">Drop</ion-option-button>
      </ion-item>
      <ion-item id="equipments-list-item92">Feet
        <ion-option-button class="button-balanced">Change</ion-option-button>
        <ion-option-button class="button-assertive">Drop</ion-option-button>
      </ion-item>
      <ion-item id="equipments-list-item91">Arms
        <ion-option-button class="button-balanced">Change</ion-option-button>
        <ion-option-button class="button-assertive">Drop</ion-option-button>
      </ion-item>
      <ion-item id="equipments-list-item90">Hands
        <ion-option-button class="button-balanced">Change</ion-option-button>
        <ion-option-button class="button-assertive">Drop</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>