<ion-view title="Extras" id="page10">
  <ion-content padding="true" class="has-header">
    <h1 id="extras-heading1" style="color:#000000;">Movement</h1>
    <ion-list id="extras-list25">
      <ion-item id="extras-list-item44">Basic Carry Weight
        <span class="item-note">#round(strenght²/10)</span>
      </ion-item>
      <ion-item id="extras-list-item45">Current Weight Category
        <span class="item-note">#0/1/2/3/4</span>
      </ion-item>
      <ion-item id="extras-list-item46">Basic Speed *get formula*
        <span class="item-note">#basic_speed</span>
      </ion-item>
      <ion-item id="extras-list-item47">Basic Movement
        <span class="item-note">#floor(basic_speed)</span>
      </ion-item>
      <ion-item id="extras-list-item49">Movement
        <span class="item-note">#(5-current_weight_category)*0,2*basic_movement</span>
      </ion-item>
    </ion-list>
    <h1 id="extras-heading3" style="color:#000000;">Attack</h1>
    <ion-list id="extras-list28">
      <ion-item id="extras-list-item60">Point Hit
        <span class="item-note">#1d</span>
      </ion-item>
      <ion-item id="extras-list-item61">Balance Hit
        <span class="item-note">#2d-1</span>
      </ion-item>
    </ion-list>
    <h1 id="extras-heading2" style="color:#000000;">Defense</h1>
    <ion-list id="extras-list26">
      <ion-item id="extras-list-item48">Dodge
        <span class="item-note">#basic_movement-current_weight_category</span>
      </ion-item>
      <ion-item id="extras-list-item53">Parry
        <span class="item-note">#weapon_parry</span>
      </ion-item>
      <ion-item id="extras-list-item54">Block
        <span class="item-note">#shield_block</span>
      </ion-item>
    </ion-list>
    <h1 id="extras-heading4" style="color:#000000;">Advantages</h1>
    <ion-list id="extras-list33">
      <ion-item id="extras-list-item81">Item 1</ion-item>
    </ion-list>
    <h1 id="extras-heading5" style="color:#000000;">Disadvantages</h1>
    <ion-list id="extras-list34">
      <ion-item id="extras-list-item85">Item 1</ion-item>
    </ion-list>
  </ion-content>
</ion-view>