<ion-view title="Gurps Manager" id="page7">
  <ion-content padding="true" class="has-header">
    <a ui-sref="characterFeatures()" id="gurpsManager-button3" class="button button-positive button-block">Create Adventure</a>
    <button id="gurpsManager-button4" class="button button-positive button-block">Resume Adventure</button>
    <div id="gurpsManager-container5">
      <ion-list id="gurpsManager-list13">
        <ion-item class="item-avatar" id="gurpsManager-list-item14">
          <h2>Avatar list</h2>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>