<ion-view title="Inventory" id="page19">
  <ion-content padding="true" class="has-header">
    <ion-list id="inventory-list30">
      <ion-item id="inventory-list-item72">Item 1
        <span class="item-note">#number_of_itens #weight</span>
        <ion-option-button class="button-assertive">-</ion-option-button>
        <ion-option-button class="button-balanced">+</ion-option-button>
      </ion-item>
      <ion-item id="inventory-list-item74">Add Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>