<ion-view title="Status" id="page6">
  <ion-content padding="true" class="has-header">
    <ion-list id="status-list23">
      <ion-item class="item-thumbnail-left" id="status-list-item39">
        <h2>#char_name</h2>
      </ion-item>
      <ion-item id="status-list-item35">Strenght (ST)
        <span class="item-note">#strenght</span>
      </ion-item>
      <ion-item id="status-list-item36">Dexterity (DX)
        <span class="item-note">#dexterity</span>
      </ion-item>
      <ion-item id="status-list-item37">Intelligence (IQ)
        <span class="item-note">#intelligence</span>
      </ion-item>
      <ion-item id="status-list-item38">Health (HT)
        <span class="item-note">#health</span>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 40px;"></div>
    <ion-list id="status-list24">
      <ion-item id="status-list-item40">Life Points
        <span class="item-note">#strenght #current-damage</span>
      </ion-item>
      <ion-item id="status-list-item41">Will
        <span class="item-note">#intelligence</span>
      </ion-item>
      <ion-item id="status-list-item42">Perception
        <span class="item-note">#intelligence</span>
      </ion-item>
      <ion-item id="status-list-item43">Effort Points
        <span class="item-note">#health #current-tiredness</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>