<ion-view title="Tests" id="page13">
  <ion-content padding="true" class="has-header">
    <div id="tests-button-bar5" class="button-bar">
      <button id="tests-button41" style="font-size:25px;border-radius:1px 1px 1px 1px;" class="button button-assertive button-block">-</button>
      <button id="tests-button42" class="button button-light button-block">#life_points</button>
      <button id="tests-button43" style="font-size:25px;" class="button button-balanced button-block">+</button>
    </div>
    <div id="tests-button-bar6" class="button-bar">
      <button id="tests-button44" style="font-size:25px;border-radius:1px 1px 1px 1px;" class="button button-assertive button-block">-</button>
      <button id="tests-button45" class="button button-light button-block">#effort_points</button>
      <button id="tests-button46" style="font-size:25px;" class="button button-balanced button-block">+</button>
    </div>
    <div id="tests-button-bar7" class="button-bar">
      <button id="tests-button47" style="font-size:25px;border-radius:1px 1px 1px 1px;" class="button button-assertive button-block">-</button>
      <button id="tests-button48" class="button button-light button-block">#shield_point</button>
      <button id="tests-button49" style="font-size:25px;" class="button button-balanced button-block">+</button>
    </div>
    <div id="tests-button-bar2" class="button-bar">
      <button id="tests-button21" class="button button-positive button-block">ST</button>
      <button id="tests-button22" class="button button-positive button-block">DX</button>
      <button id="tests-button23" class="button button-positive button-block">IQ</button>
      <button id="tests-button24" class="button button-positive button-block">HT</button>
    </div>
    <div id="tests-button-bar4" class="button-bar">
      <button id="tests-button30" class="button button-positive button-block">Perception</button>
      <button id="tests-button32" class="button button-positive button-block">Will</button>
      <button id="tests-button53" class="button button-positive button-block">Attack</button>
    </div>
    <div id="tests-button-bar8" class="button-bar">
      <button id="tests-button50" class="button button-positive button-block">Dodge</button>
      <button id="tests-button51" class="button button-positive button-block">Parry</button>
      <button id="tests-button52" class="button button-positive button-block">Block</button>
    </div>
  </ion-content>
</ion-view>