<html style="background:white">
<div>
    <ion-list>
        <ion-item-sliding *ngFor="let equipment of listEquipments">
            <ion-item>
                <ion-thumbnail item-start>
                    <h1>{{equipment.name}}</h1>
                    <div *ngIf='equipment.type=="shield"'>
                        <h3>Total Life:{{equipment.max_life_points}}</h3>
                        <h3>{{Resistence(equipment)}}</h3>
                    </div>
                    <div *ngIf='equipment.type!="one_hand"&&equipment.type!="two_hand"&&equipment.type!="shield"&&equipment.type!="consumable"&&equipment.type!="others"'>
                        <h3>{{Resistence(equipment)}}</h3>
                    </div>
                    <div *ngIf='equipment.type=="one_hand"||equipment.type=="two_hand"'>
                        <h3>{{Balance(equipment)}}</h3>
                        <h3>{{Piercing(equipment)}}</h3>
                    </div>
                </ion-thumbnail>
                <ion-grid item-content>
                    <ion-row>
                        <ion-col>
                            <h2 class="modalTitle">Description</h2>
                            <h3>{{equipment.description}}</h3>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <button ion-button clear item-end on-click="returnData(equipment)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</div>
</html>