<ion-header>
  <ion-navbar>
    <ion-title>
      Character Advantages
    </ion-title>
    <ion-note>
      Current Points: {{new_char.current_points}}
      <br> Max Points: {{new_char.max_points}}
    </ion-note>
  </ion-navbar>
</ion-header>
<ion-content padding id="characterAdvantages">
  <form id="characterAdvantages-form">
    <ion-list id="characterAdvantages-list">
      <ion-item-sliding *ngFor="let advantage of new_char.advantages">
        <!-- Character advantages -->
        <ion-item color="none">
          {{advantage.name}}
          <br>
          <ion-note>{{advantage.description}}</ion-note>
          <ion-note item-right>Swipe left</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button *ngIf="advantage.level>1" ion-button color="danger" on-click="removeAdvantageLevel(advantage)">
            <ion-icon name="remove"></ion-icon>
          </button>
          <button *ngIf="advantage.level==1" disabled ion-button color="danger" on-click="removeAdvantageLevel(advantage)">
              <ion-icon name="remove"></ion-icon>
          </button>
          <button ion-button disabled color="light">
            <label style="width:10ex">
              {{advantage.level}}
            </label>
          </button>
          <button *ngIf="advantage.level<advantage.levelCap" ion-button color="secondary" on-click="addAdvantageLevel(advantage)">
              <ion-icon name="add"></ion-icon>
            </button>
            <button *ngIf="advantage.level==advantage.levelCap" disabled ion-button color="secondary" on-click="addAdvantageLevel(advantage)">
                <ion-icon name="add"></ion-icon>
            </button>
          <button ion-button color="danger" on-click="removeAdvantage(advantage)">
            Remove
          </button>
        </ion-item-options>
      </ion-item-sliding>
      <!-- Add a new advantage to the list -->
      <ion-item-sliding>
        <ion-item color="none" id="characterAdvantage-list-item">
          Add Advantage
          <ion-note item-right>Swipe left</ion-note>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" on-click="openModal()">
            Add
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <button id="characterAdvantages-button" ion-button color="stable" block on-click="goToCharacterAdvantages()">
      Proceed
    </button>
  </form>
</ion-content>