<style>
    .headerImage {
        height: 6ex;
        width: 6ex;
    }

    .gridImage {
        height: 3ex;
        width: 3ex;
    }

    .gridGrayImage {
        height: 3ex;
        width: 3ex;
        opacity: 0.25;
    }

    h1 {
        text-align: center;
        word-wrap: normal;
    }

    ion-thumbnail {
        width: 20%
    }
</style>

<html style="background:white">
<div padding>
    <ion-segment [(ngModel)]="disadvantagesModel">
        <ion-segment-button value="mental" on-click="updateMental()">
            <img class="headerImage" src="../../assets/imgs/mental.png">
        </ion-segment-button>
        <ion-segment-button value="physical" on-click="updatePhysical()">
            <img class="headerImage" src="../../assets/imgs/physical.png">
        </ion-segment-button>
        <ion-segment-button value="social" on-click="updateSocial()">
            <img class="headerImage" src="../../assets/imgs/social.png">
        </ion-segment-button>
        <ion-segment-button value="exotic" on-click="updateExotic()">
            <img class="headerImage" src="../../assets/imgs/exotic.png">
        </ion-segment-button>
        <ion-segment-button value="supernatural" on-click="updateSupernatural()">
            <img class="headerImage" src="../../assets/imgs/supernatural.png">
        </ion-segment-button>
        <ion-segment-button value="mundane" on-click="updateMundane()">
            <img class="headerImage" src="../../assets/imgs/mundane.png">
        </ion-segment-button>
    </ion-segment>
</div>

<ion-content [ngSwitch]="disadvantagesModel">
    <ion-list *ngSwitchCase="'mental'" style="padding-bottom:20%">
        <ion-item-sliding *ngFor="let mental of mentals">
            <ion-item *ngIf="notInCharList(mental)">
                <ion-thumbnail item-start>
                    <h1>{{mental.name}}</h1>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="mental.isPhysical()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="!mental.isPhysical()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="mental.isSocial()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/social.png">
                            </ion-col>
                            <ion-col *ngIf="!mental.isSocial()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/social.png">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col *ngIf="mental.isExotic()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="!mental.isExotic()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="mental.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="!mental.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="mental.isMundane()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                            <ion-col *ngIf="!mental.isMundane()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-thumbnail>
                <p item-content>{{mental.description}}</p>
                <button ion-button clear item-end on-click="returnData(mental)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'physical'" style="padding-bottom:20%">
        <ion-item-sliding *ngFor="let physical of physicals">
            <ion-item *ngIf="notInCharList(physical)">
                <ion-thumbnail item-start>
                    <h1>{{physical.name}}</h1>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngIf="physical.isMental()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="!physical.isMental()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="physical.isSocial()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/social.png">
                            </ion-col>
                            <ion-col *ngIf="!physical.isSocial()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/social.png">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col *ngIf="physical.isExotic()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="!physical.isExotic()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="physical.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="!physical.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="physical.isMundane()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                            <ion-col *ngIf="!physical.isMundane()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-thumbnail>
                <p item-content>{{physical.description}}</p>
                <button ion-button clear item-end on-click="returnData(physical)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'social'" style="padding-bottom:20%">
        <ion-item-sliding *ngFor="let social of socials">
            <ion-item *ngIf="notInCharList(social)">
                <ion-thumbnail item-start>
                    <h1>{{social.name}}</h1>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngIf="social.isMental()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="!social.isMental()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="social.isPhysical()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="!social.isPhysical()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/social.png">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col *ngIf="social.isExotic()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="!social.isExotic()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="social.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="!social.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="social.isMundane()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                            <ion-col *ngIf="!social.isMundane()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-thumbnail>
                <p item-content>{{social.description}}</p>
                <button ion-button clear item-end on-click="returnData(social)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'exotic'" style="padding-bottom:20%">
        <ion-item-sliding *ngFor="let exotic of exotics">
            <ion-item *ngIf="notInCharList(exotic)">
                <ion-thumbnail item-start>
                    <h1>{{exotic.name}}</h1>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngIf="exotic.isMental()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="!exotic.isMental()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="exotic.isPhysical()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="!exotic.isPhysical()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="exotic.isSocial()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/social.png">
                            </ion-col>
                            <ion-col *ngIf="!exotic.isSocial()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/social.png">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="exotic.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="!exotic.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="exotic.isMundane()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                            <ion-col *ngIf="!exotic.isMundane()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-thumbnail>
                <p item-content>{{exotic.description}}</p>
                <button ion-button clear item-end on-click="returnData(exotic)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'supernatural'" style="padding-bottom:20%">
        <ion-item-sliding *ngFor="let supernatural of supernaturals">
            <ion-item *ngIf="notInCharList(supernatural)">
                <ion-thumbnail item-start>
                    <h1>{{supernatural.name}}</h1>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngIf="supernatural.isMental()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="!supernatural.isMental()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="supernatural.isPhysical()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="!supernatural.isPhysical()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="supernatural.isSocial()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/social.png">
                            </ion-col>
                            <ion-col *ngIf="!supernatural.isSocial()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/social.png">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col *ngIf="supernatural.isExotic()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="!supernatural.isExotic()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="supernatural.isMundane()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                            <ion-col *ngIf="!supernatural.isMundane()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-thumbnail>
                <p item-content>{{supernatural.description}}</p>
                <button ion-button clear item-end on-click="returnData(supernatural)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'mundane'" style="padding-bottom:20%">
        <ion-item-sliding *ngFor="let mundane of mundanes">
            <ion-item *ngIf="notInCharList(mundane)">
                <ion-thumbnail item-start>
                    <h1>{{mundane.name}}</h1>
                    <ion-grid>
                        <ion-row>
                            <ion-col *ngIf="mundane.isMental()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="!mundane.isMental()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mental.png">
                            </ion-col>
                            <ion-col *ngIf="mundane.isPhysical()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="!mundane.isPhysical()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/physical.png">
                            </ion-col>
                            <ion-col *ngIf="mundane.isSocial()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/social.png">
                            </ion-col>
                            <ion-col *ngIf="!mundane.isSocial()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/social.png">
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col *ngIf="mundane.isExotic()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="!mundane.isExotic()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/exotic.png">
                            </ion-col>
                            <ion-col *ngIf="mundane.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="!mundane.isSupernatural()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/supernatural.png">
                            </ion-col>
                            <ion-col *ngIf="mundane.isMundane()" col-4 style="text-align: center">
                                <img class="gridImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                            <ion-col *ngIf="!mundane.isMundane()" col-4 style="text-align: center">
                                <img class="gridGrayImage" src="../../assets/imgs/mundane.png">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-thumbnail>
                <p item-content>{{mundane.description}}</p>
                <button ion-button clear item-end on-click="returnData(mundane)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>

</html>