<style>
    .headerImage {
        height: 6ex;
        width: 6ex;
    }

    .gridImage {
        height: 3ex;
        width: 3ex;
    }

    .gridGrayImage {
        height: 3ex;
        width: 3ex;
        opacity: 0.25;
    }
</style>

<html style="background:white">
<div padding>
    <ion-segment [(ngModel)]="disadvantages">
        <ion-segment-button value="mental" on-click="updateMental()">
            <img class="headerImage" src="../../assets/imgs/mental.png">
        </ion-segment-button>
        <ion-segment-button value="physical" on-click="updatePhysical()">
            <img class="headerImage" src="../../assets/imgs/physical.png">
        </ion-segment-button>
        <ion-segment-button value="social" on-click="updateSocial()">
            <img class="headerImage" src="../../assets/imgs/social.png">
        </ion-segment-button>
        <ion-segment-button value="exotic" on-click="updateExotic()">
            <img class="headerImage" src="../../assets/imgs/exotic.png">
        </ion-segment-button>
        <ion-segment-button value="supernatural" on-click="updateSupernatural()">
            <img class="headerImage" src="../../assets/imgs/supernatural.png">
        </ion-segment-button>
        <ion-segment-button value="mundane" on-click="updateMundane()">
            <img class="headerImage" src="../../assets/imgs/mundane.png">
        </ion-segment-button>
    </ion-segment>
</div>

<div [ngSwitch]="disadvantages">
    <ion-list *ngSwitchCase="'mental'">
        <ion-item *ngFor="let mental of mentals">
            <ion-thumbnail item-start>
                <ion-grid>
                    <ion-row>
                        <ion-col col-4 style="text-align: center">
                            <img class="gridImage" src="../../assets/imgs/mental.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <div *ngIf="mental.isPhysical();else greyPhysical">
                                <img class="gridImage" src="../../assets/imgs/physical.png">
                            </div>
                            <ng-template #greyPhysical>
                                <img class="gridGreyImage" src="../../assets/imgs/physical.png">
                            </ng-template>
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <div *ngIf="mental.isSocial();else greySocial">
                                <img class="gridImage" src="../../assets/imgs/social.png">
                            </div>
                            <ng-template #greySocial>
                                <img class="gridGreyImage" src="../../assets/imgs/social.png">
                            </ng-template>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <div *ngIf="mental.isExotic();else greyExotic">
                            <img class="gridImage" src="../../assets/imgs/exotic.png">
                        </div>
                        <ng-template #greyExotic>
                            <img class="gridGreyImage" src="../../assets/imgs/exotic.png">
                        </ng-template>
                        <div *ngIf="mental.isSupernatural();else greySupernatural">
                            <img class="gridImage" src="../../assets/imgs/supernatural.png">
                        </div>
                        <ng-template #greySupernatural>
                            <img class="gridGreyImage" src="../../assets/imgs/supernatural.png">
                        </ng-template>
                        <div *ngIf="mental.isMundane();else greyMundane">
                            <img class="gridImage" src="../../assets/imgs/mundane.png">
                        </div>
                        <ng-template #greyMundane>
                            <img class="gridGreyImage" src="../../assets/imgs/mundane.png">
                        </ng-template>
                    </ion-row>
                </ion-grid>
            </ion-thumbnail>
            <h2>{{mental.name}}</h2>
            <p>{{mental.description}}</p>
            <button ion-button clear item-end on-click="returnData(mental)">Add</button>
        </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'physical'">
        <ion-item-sliding *ngFor="let physical of physicals">
            <ion-thumbnail item-start>
                <ion-grid>
                    <ion-row>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\mental{{physical.isMental?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\physical.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\social{{physical.isSocial?'':'-grey'}}.png">
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\exotic{{physical.isExotic?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\supernatural{{physical.isSupernatural?'':'-grey'}}.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-thumbnail>
            <h2>{{physical.name}}</h2>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'social'">
        <ion-item-sliding *ngFor="let social of socials">
            <ion-thumbnail item-start>
                <ion-grid>
                    <ion-row>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\mental{{social.isMental?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\physical{{social.isPhysical?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\social.png">
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\exotic{{social.isExotic?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\supernatural{{social.isSupernatural?'':'-grey'}}.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-thumbnail>
            <h2>{{social.name}}</h2>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'exotic'">
        <ion-item-sliding *ngFor="let exotic of exotics">
            <ion-thumbnail item-start>
                <ion-grid>
                    <ion-row>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\mental{{exotic.isMental?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\physical{{exotic.isPhysical?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\social{{exotic.isSocial?'':'-grey'}}.png">
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\exotic.png">
                        </ion-col>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\supernatural{{exotic.isSupernatural?'':'-grey'}}.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-thumbnail>
            <h2>{{exotic.name}}</h2>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'supernatural'">
        <ion-item-sliding *ngFor="let supernatural of supernaturals">
            <ion-thumbnail item-start>
                <ion-grid>
                    <ion-row>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\mental{{supernatural.isMental?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\physical{{supernatural.isPhysical?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\social{{supernatural.isSocial?'':'-grey'}}.png">
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\exotic{{supernatural.isExotic?'':'-grey'}}.png">
                        </ion-col>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\supernatural.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-thumbnail>
            <h2>{{supernatural.name}}</h2>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'mundane'">
        <ion-item-sliding *ngFor="let mundane of mundanes">
            <ion-thumbnail item-start>
                <ion-grid>
                    <ion-row>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\mental-grey.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\physical-grey.png">
                        </ion-col>
                        <ion-col col-4 style="text-align: center">
                            <img src="..\..\..\images\social-grey.png">
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\exotic-grey.png">
                        </ion-col>
                        <ion-col col-6 style="text-align: center">
                            <img src="..\..\..\images\supernatural-grey.png">
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-thumbnail>
            <h2>{{supernatural.name}}</h2>
        </ion-item-sliding>
    </ion-list>
</div>

</html>