<style>
    .headerImage {
        height: 6ex;
        width: 6ex;
    }

    .gridImage {
        height: 3ex;
        width: 3ex;
    }

    .gridGrayImage {
        height: 3ex;
        width: 3ex;
        opacity: 0.25;
    }

    h1 {
        text-align: center;
        word-wrap: normal;
    }

    ion-thumbnail {
        width: 20%
    }

    ion-title {
        text-align: center;
    }
</style>

<html style="background:white">
<div>
    <ion-list *ngIf='testName=="parry"'>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-title>{{testBasicValueName}} Test</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title>Left<br>Hand</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title>Right<br>Hand</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>{{testBasicValueName}}</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testLeftHandBasicValue!=-1&&testLeftHandEquipmentValue!=-1'>
                        {{testLeftHandBasicValue}}</ion-title>
                    <ion-title *ngIf='testLeftHandEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testLeftHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testRightHandBasicValue!=-1&&testRightHandEquipmentValue!=-1'>
                        {{testRightHandBasicValue}}</ion-title>
                    <ion-title *ngIf='testRightHandEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testRightHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>Equipment Bonus</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testLeftHandBasicValue!=-1&&testLeftHandEquipmentValue!=-1'>
                        {{testLeftHandEquipmentValue}}</ion-title>
                    <ion-title *ngIf='testLeftHandEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testLeftHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testRightHandBasicValue!=-1&&testRightHandEquipmentValue!=-1'>
                        {{testRightHandEquipmentValue}}</ion-title>
                    <ion-title *ngIf='testRightHandEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testRightHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>Test Modifier</ion-title>
                </ion-col>
                <ion-col col-6>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-3>
                                <button ion-button small color="danger" on-click="removeModValue()">
                                    <ion-icon name="remove"></ion-icon>
                                </button></ion-col>
                            <ion-col col-6>
                                <button ion-button small style='width: 100%' disabled color="light">
                                    <label>
                                        {{testModValue}}
                                    </label>
                                </button></ion-col>
                            <ion-col col-3>
                                <button ion-button small color="secondary" on-click="addModValue()">
                                    <ion-icon name="add"></ion-icon>
                                </button></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>Test Final Value</ion-title>
                </ion-col>
                <ion-col>
                    <ion-title *ngIf='testLeftHandBasicValue!=-1&&testLeftHandEquipmentValue!=-1'>
                        {{testLeftHandBasicValue+testLeftHandEquipmentValue+testModValue}}</ion-title>
                    <ion-title *ngIf='testLeftHandEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testLeftHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
                <ion-col>
                    <ion-title *ngIf='testRightHandBasicValue!=-1&&testRightHandEquipmentValue!=-1'>
                        {{testRightHandBasicValue+testRightHandEquipmentValue+testModValue}}</ion-title>
                    <ion-title *ngIf='testRightHandEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testRightHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <ion-list *ngIf='testName=="attack"'>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <ion-title>{{testBasicValueName}} Test</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title>Left<br>Hand</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title>Right<br>Hand</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>{{testBasicValueName}}</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testLeftHandBasicValue!=-1&&testLeftHandEquipmentValue!=-1'>
                        {{testLeftHandBasicValue}}</ion-title>
                    <ion-title *ngIf='testLeftHandEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testLeftHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testRightHandBasicValue!=-1&&testRightHandEquipmentValue!=-1'>
                        {{testRightHandBasicValue}}</ion-title>
                    <ion-title *ngIf='testRightHandEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testRightHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>Balance Attack</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testLeftHandBasicValue!=-1&&testLeftHandBalanceEquipmentValue!=-1'>
                        {{testLeftHandBalanceEquipmentValue}}</ion-title>
                    <ion-title *ngIf='testLeftHandBalanceEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testLeftHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testRightHandBasicValue!=-1&&testRightHandBalanceEquipmentValue!=-1'>
                        {{testRightHandBalanceEquipmentValue}}</ion-title>
                    <ion-title *ngIf='testRightHandBalanceEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testRightHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>Piercing Attack</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testLeftHandBasicValue!=-1&&testLeftHandPiercingEquipmentValue!=-1'>
                        {{testLeftHandPiercingEquipmentValue}}</ion-title>
                    <ion-title *ngIf='testLeftHandPiercingEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testLeftHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testRightHandBasicValue!=-1&&testRightHandPiercingEquipmentValue!=-1'>
                        {{testRightHandPiercingEquipmentValue}}</ion-title>
                    <ion-title *ngIf='testRightHandPiercingEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testRightHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>Test Modifier</ion-title>
                </ion-col>
                <ion-col col-6>
                    <ion-grid>
                        <ion-row>
                            <ion-col col-3>
                                <button ion-button small color="danger" on-click="removeModValue()">
                                    <ion-icon name="remove"></ion-icon>
                                </button></ion-col>
                            <ion-col col-6>
                                <button ion-button small style='width: 100%' disabled color="light">
                                    <label>
                                        {{testModValue}}
                                    </label>
                                </button></ion-col>
                            <ion-col col-3>
                                <button ion-button small color="secondary" on-click="addModValue()">
                                    <ion-icon name="add"></ion-icon>
                                </button></ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title>Balance Final</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testLeftHandBasicValue!=-1&&testLeftHandBalanceEquipmentValue!=-1'>
                        {{testLeftHandBasicValue+testLeftHandBalanceEquipmentValue+testModValue}}</ion-title>
                    <ion-title *ngIf='testLeftHandBalanceEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testLeftHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testRightHandBasicValue!=-1&&testRightHandBalanceEquipmentValue!=-1'>
                        {{testRightHandBasicValue+testRightHandBalanceEquipmentValue+testModValue}}</ion-title>
                    <ion-title *ngIf='testRightHandBalanceEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testRightHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6>
                    <ion-title style="text-align:center">Piercing Final</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testLeftHandBasicValue!=-1&&testLeftHandPiercingEquipmentValue!=-1'>
                        {{testLeftHandBasicValue+testLeftHandPiercingEquipmentValue+testModValue}}</ion-title>
                    <ion-title *ngIf='testLeftHandPiercingEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testLeftHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
                <ion-col col-3>
                    <ion-title *ngIf='testRightHandBasicValue!=-1&&testRightHandPiercingEquipmentValue!=-1'>
                        {{testRightHandBasicValue+testRightHandPiercingEquipmentValue+testModValue}}</ion-title>
                    <ion-title *ngIf='testRightHandPiercingEquipmentValue==-1'></ion-title>
                    <ion-title *ngIf='testRightHandBasicValue==-1'>Can't</ion-title>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <ion-list *ngIf='testName!="parry"&&testName!="attack"'>
        <ion-item>
            <ion-title style="text-align:center">
                {{testBasicValueName}} Test
            </ion-title>
        </ion-item>
        <ion-item color="none" id="basic_status" style="font-size:250% !important">
            {{testBasicValueName}}
            <ion-note item-right *ngIf="testBasicValue!=-1">{{testBasicValue}}</ion-note>
            <ion-note item-right *ngIf="testBasicValue==-1">Can't</ion-note>
        </ion-item>
        <ion-item color="none" id="equipment_status" style="font-size:250% !important">
            Equipment Bonus
            <ion-note item-right *ngIf="testEquipmentValue!=-1">{{testEquipmentValue}}</ion-note>
            <ion-note item-right *ngIf="testEquipmentValue==-1">Can't</ion-note>
        </ion-item>
        <ion-item style="font-size:250% !important">
            Test Modifier
            <ion-note item-right>
                <button ion-button color="danger" on-click="removeModValue()">
                    <ion-icon name="remove"></ion-icon>
                </button>
                <button ion-button disabled color="light">
                    <label style="width:10ex;font-size:200% !important">
                        {{testModValue}}
                    </label>
                </button>
                <button ion-button color="secondary" on-click="addModValue()">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-note>
        </ion-item>
        <ion-item id="end_value" style="font-size:250% !important">
            Test Final Value
            <ion-note item-right style="color:black" *ngIf="testBasicValue!=-1">
                {{testBasicValue+testEquipmentValue+testModValue}}</ion-note>
            <ion-note item-right style="color:black" *ngIf="testBasicValue==-1">Can't</ion-note>
        </ion-item>
    </ion-list>
</div>

</html>