<style>
    h1 {
        text-align: center;
        word-wrap: normal;
    }

    h2 {
        text-align: center;
        word-wrap: normal;
    }

    ion-thumbnail {
        width: 20%
    }
</style>

<html style="background:white">
<div padding>
    <ion-segment [(ngModel)]="skillsModel">
        <ion-segment-button value="strenght" on-click="updateStrenght()">
            <h1>ST</h1>
        </ion-segment-button>
        <ion-segment-button value="dexterity" on-click="updateDexterity()">
            <h1>DX</h1>
        </ion-segment-button>
        <ion-segment-button value="intelligence" on-click="updateIntelligence()">
            <h1>IQ</h1>
        </ion-segment-button>
        <ion-segment-button value="health" on-click="updateHealth()">
            <h1>HT</h1>
        </ion-segment-button>
    </ion-segment>
</div>

<div [ngSwitch]="skillsModel">
    <ion-list *ngSwitchCase="'strenght'">
        <ion-item-sliding *ngFor="let strenght of strenghts">
            <ion-item *ngIf="notInCharList(strenght)">
                <ion-thumbnail item-start>
                    <h1>{{strenght.name}}</h1>
                    <h2 *ngIf='strenght.difficulty!="VeryHard"'>{{strenght.difficulty}}</h2>
                    <h2 *ngIf='strenght.difficulty=="VeryHard"'>Very Hard</h2>
                </ion-thumbnail>
                <p item-content>{{strenght.description}}</p>
                <button ion-button clear item-end on-click="returnData(strenght)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'dexterity'">
        <ion-item-sliding *ngFor="let dexterity of dexterities">
            <ion-item *ngIf="notInCharList(dexterity)">
                <ion-thumbnail item-start>
                    <h1>{{dexterity.name}}</h1>
                    <h2 *ngIf='dexterity.difficulty!="VeryHard"'>{{dexterity.difficulty}}</h2>
                    <h2 *ngIf='dexterity.difficulty=="VeryHard"'>Very Hard</h2>
                </ion-thumbnail>
                <p item-content>{{dexterity.description}}</p>
                <button ion-button clear item-end on-click="returnData(dexterity)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'intelligence'">
        <ion-item-sliding *ngFor="let intelligence of intelligences">
            <ion-item *ngIf="notInCharList(intelligence)">
                <ion-thumbnail item-start>
                    <h1>{{intelligence.name}}</h1>
                    <h2 *ngIf='intelligence.difficulty!="VeryHard"'>{{intelligence.difficulty}}</h2>
                    <h2 *ngIf='intelligence.difficulty=="VeryHard"'>Very Hard</h2>
                </ion-thumbnail>
                <p item-content>{{intelligence.description}}</p>
                <button ion-button clear item-end on-click="returnData(intelligence)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'health'">
        <ion-item-sliding *ngFor="let health of healths">
            <ion-item *ngIf="notInCharList(health)">
                <ion-thumbnail item-start>
                    <h1>{{health.name}}</h1>
                    <h2 *ngIf='health.difficulty!="VeryHard"'>{{health.difficulty}}</h2>
                    <h2 *ngIf='health.difficulty=="VeryHard"'>Very Hard</h2>
                </ion-thumbnail>
                <p item-content>{{health.description}}</p>
                <button ion-button clear item-end on-click="returnData(health)">Add</button>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</div>

</html>