<style>
  h1 {
    text-align: center;
    word-wrap: normal;
  }
</style>

<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-5>
          <ion-title>
            Extras
          </ion-title>
        </ion-col>
        <ion-col col-2>
          <ion-buttons style="text-align:center">
            <button ion-button icon-only on-click="goHome()">
              <ion-icon name="home"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-5 style="text-align:right">
          <ion-buttons ion-button icon-only>
            <button ion-button icon-only>
              <ion-icon name="bookmark"></ion-icon>
            </button>
            <button ion-button>
              {{char.name}}
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content padding id="extras">
  <h3 id="extras-tag-1" style="color:#000000;">
    Movement
  </h3>
  <ion-list id="extras-list-1">
    <ion-item color="none" id="extras-item-carry-weight">
      Basic Carry Weight
      <ion-note item-right>{{char.max_carry_weight}}</ion-note>
    </ion-item>
    <ion-item color="none" id="extras-item-carry-weight">
      Current Carry Weight
      <ion-note item-right>{{char.current_carry_weight}}</ion-note>
    </ion-item>
    <ion-item color="none" id="extras-item-carry-category">
      Current Carry Category
      <ion-note item-right>{{this.char.getCarryCategory()}}</ion-note>
    </ion-item>
    <ion-item color="none" id="extras-item-speed">
      Speed
      <ion-note item-right>{{char.speed}}</ion-note>
    </ion-item>
    <ion-item color="none" id="extras-item-basic-movement">
      Basic Movement
      <ion-note item-right>{{char.basic_movement}} steps</ion-note>
    </ion-item>
    <ion-item color="none" id="extras-item-current-movement">
      Current Movement
      <ion-note item-right>{{char.getMovement()}} steps</ion-note>
    </ion-item>
  </ion-list>
  <h3 id="extras-tag-4" style="color:#000000;">
    Advantages
  </h3>
  <ion-item-sliding *ngFor="let advantage of char.advantages">
    <ion-item>
      <h1 item-start style="width:25%;font-size: 2rem">{{advantage.name}}</h1>
      <ion-note item-content>{{advantage.description}}</ion-note>
    </ion-item>
  </ion-item-sliding>
  <h3 id="extras-tag-5" style="color:#000000;">
    Disadvantages
  </h3>
  <ion-item-sliding *ngFor="let disadvantage of char.disadvantages">
    <ion-item>
      <h1 item-start style="width:25%;font-size: 2rem">{{disadvantage.name}}</h1>
      <ion-note item-content>{{disadvantage.description}}</ion-note>
    </ion-item>
  </ion-item-sliding>
</ion-content>