<ion-header>
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-5>
          <ion-title>
            Inventory
          </ion-title>
        </ion-col>
        <ion-col col-2>
          <ion-buttons style="text-align:center">
            <button ion-button icon-only on-click="goHome()">
              <ion-icon name="home"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-5 style="text-align:right">
          <ion-buttons ion-button icon-only>
            <button ion-button icon-only>
              <ion-icon name="briefcase"></ion-icon>
            </button>
            <button ion-button>
              {{char.name}}
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>
<ion-content padding id="inventory">
  <!-- Weapons -->
  <ion-list id="inventory-list-weapons" *ngIf="weapons.length>0">
    <ion-title>
      Weapons
    </ion-title>
    <ion-item-sliding *ngFor="let weapon of weapons">
      <ion-item item-left color="none">
        {{weapon.name}}
        <br>
        <ion-note>{{weapon.description}}</ion-note>
        <ion-note item-right>Cost: {{weapon.cost}}</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" on-click="sellItem(weapon)">
          Sell
        </button>
        <button ion-button color="danger" on-click="destroyItem(weapon)">
          Destroy
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- Shields -->
  <ion-list id="inventory-list-shields" *ngIf="shields.length>0">
    <ion-title>
      Shields
    </ion-title>
    <ion-item-sliding *ngFor="let shield of shields">
      <ion-item item-left color="none">
        {{shield.name}}
        <br>
        <ion-note>{{shield.description}}</ion-note>
        <ion-note item-right>Cost: {{shield.cost}}</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" on-click="sellItem(shield)">
          Sell
        </button>
        <button ion-button color="danger" on-click="destroyItem(shield)">
          Destroy
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- Armors -->
  <ion-list id="inventory-list-armors" *ngIf="armors.length>0">
    <ion-title>
      Armors
    </ion-title>
    <ion-item-sliding *ngFor="let armor of armors">
      <ion-item item-left color="none">
        {{armor.name}}
        <br>
        <ion-note>{{armor.description}}</ion-note>
        <ion-note item-right>Cost: {{armor.cost}}</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" on-click="sellItem(armor)">
          Sell
        </button>
        <button ion-button color="danger" on-click="destroyItem(armor)">
          Destroy
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- Consumables -->
  <ion-list id="inventory-list-consumables" *ngIf="consumables.length>0">
    <ion-title>
      Consumables
    </ion-title>
    <ion-item-sliding *ngFor="let consumable of consumables">
      <ion-item item-left color="none">
        {{consumable.name}}
        <br>
        <ion-note>{{consumable.description}}</ion-note>
        <ion-note item-right>Cost: {{consumable.cost}}</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" on-click="sellItem(consumable)">
          Sell
        </button>
        <button ion-button color="danger" on-click="destroyItem(consumable)">
          Destroy
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- Others -->
  <ion-list id="inventory-list-others" *ngIf="others.length>0">
    <ion-title>
      Others
    </ion-title>
    <ion-item-sliding *ngFor="let other of others">
      <ion-item item-left color="none">
        {{other.name}}
        <br>
        <ion-note>{{other.description}}</ion-note>
        <ion-note item-right>Cost: {{other.cost}}</ion-note>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" on-click="sellItem(other)">
          Sell
        </button>
        <button ion-button color="danger" on-click="destroyItem(other)">
          Destroy
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!-- Info -->
  <ion-item-group>
    <h3 id="extras-tag-5" style="color:#000000;">
      Total
    </h3>
    <ion-item color="none">
      Total Weight
      <br>
      <ion-note>{{current_weight}}</ion-note>
    </ion-item>
    <ion-item color="none">
      Price
      <br>
      <ion-note>{{current_price}}</ion-note>
    </ion-item>
    <ion-item color="none">
      Resources
      <br>
      <ion-note>{{char.resources}}</ion-note>
    </ion-item>
    <ion-item color="none">
      Carry Category
      <br>
      <ion-note>{{current_category}}</ion-note>
    </ion-item>
  </ion-item-group>
  <form id="characterResume-form">
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <button id="buy-item-button" style="font-size:1.2rem" full ion-button color="secondary"
            on-click="openBuyItemModal()">
            Buy Item/Equipment
          </button>
        </ion-col>
        <ion-col col-6>
          <button id="add-item-button" style="font-size:1.2rem" full ion-button color="secondary"
            on-click="openAddItemModal()">
            Add Item/Equipment
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button id="add-new-item-button" style="font-size:1.2rem" full ion-button color="secondary"
            on-click="openAddNewItemModal()">
            Add New Item
          </button>
        </ion-col>
        <ion-col col-6>
          <button id="add-resource-button" style="font-size:1.2rem" full ion-button color="secondary"
            on-click="openAddResourceModal()">
            Add/Remove Resources
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>